[Unit]
Description=TinySSH server socket
Before=tinyssh-server.service
Conflicts=tinyssh-server.service

[Socket]
ListenStream=22
Accept=yes

[Install]
WantedBy=sockets.target
