Source: tinyssh
Section: net
Priority: standard
#Build-Depends: debhelper, build-essential, make, libnacl-dev
Build-Depends: debhelper, build-essential, make
Maintainer: Jan Mojzis <jan.mojzis@gmail.com>
Homepage: https://tinyssh.org/

Package: tinyssh
Section: net
Depends: ${shlibs:Depends}
Architecture: any
Description: Tiny SSH server - binaries

Package: tinyssh-run
Section: net
#Depends: tinyssh, daemontools-run, adduser, ucspi-tcp, nacl-tools
Depends: tinyssh, daemontools-run, adduser, ucspi-tcp
Provides: ssh-server
Architecture: all
Description: Tiny SSH server
