Source: tinyssh
Section: net
Priority: standard
#Build-Depends: debhelper (>= 8), dh-systemd, build-essential, make, libnacl-dev [amd64] | libnacl-dev [i386]
Build-Depends: debhelper (>= 8), dh-systemd, libnacl-dev [amd64] | libnacl-dev [i386]
Maintainer: Jan Mojzis <jan.mojzis@gmail.com>
Homepage: https://tinyssh.org/
Standards-Version: 3.9.6

Package: tinyssh
#Section: net
Depends: ${misc:Depends}, ${shlibs:Depends}
Architecture: any
Description: Tiny SSH server - binaries
 This is tiny SSH server which implement 'less'.
 TinySSH supports only secure crypto (min 128-bit security,
 protected against cache-timing attacks).
 Unnecessary features (such SSH1 protocol, compression, scp, sftp, ...),
 unsafe crypto (such rsa, dsa, hmac-md5, hmac-sha1, 3des, arcfour, ...) and
 unsafe features (such password or hostbased authentication)
 are simply NOT implemented.
 TinySSH has less than 100000 words of code, so it's very easy auditable.


Package: tinyssh-run
#Section: net
Depends: ${misc:Depends}, tinyssh, daemontools-run, adduser, ucspi-tcp
Provides: ssh-server
Conflicts: tinyssh-server
Architecture: all
Description: Tiny SSH server - running under daemontools
 This is tiny SSH server which implement 'less'.
 TinySSH supports only secure crypto (min 128-bit security, 
 protected against cache-timing attacks).
 Unnecessary features (such SSH1 protocol, compression, scp, sftp, ...),
 unsafe crypto (such rsa, dsa, hmac-md5, hmac-sha1, 3des, arcfour, ...) and
 unsafe features (such password or hostbased authentication)
 are simply NOT implemented.
 TinySSH has less than 100000 words of code, so it's very easy auditable.


Package: tinyssh-server
#Section: net
Depends: ${misc:Depends}, tinyssh, adduser, systemd
Conflicts: tinyssh-run
Provides: ssh-server
Architecture: all
Description: Tiny SSH server - running under systemd
 This is tiny SSH server which implement 'less'.
 TinySSH supports only secure crypto (min 128-bit security, 
 protected against cache-timing attacks).
 Unnecessary features (such SSH1 protocol, compression, scp, sftp, ...),
 unsafe crypto (such rsa, dsa, hmac-md5, hmac-sha1, 3des, arcfour, ...) and
 unsafe features (such password or hostbased authentication)
 are simply NOT implemented.
 TinySSH has less than 100000 words of code, so it's very easy auditable.
