#!/usr/bin/make -f

#export DH_VERBOSE=1

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

CFLAGS += -I/usr/include/nacl
LIBS += -lnacl
export CFLAGS
export LIBS


override_dh_auto_install:
	echo >/dev/null

%:
	dh $@ --with systemd
