#!/usr/bin/make -f

export DH_VERBOSE=1

override_dh_auto_build:
	env LIBS='-lnacl' CFLAGS='-I/usr/include/nacl' LDFLAGS='-L/usr/lib' sh -e make-tinyssh.sh

%:
	dh $@ --with systemd

clean:
	rm -rf debian/tinyssh debian/tinyssh-run debian/tinyssh-server
	rm -f debian/*.substvars debian/*.debhelper debian/*.log debian/files
	rm -rf build nacl-20110221/build
